<div class="col-lg-12 col-md-12 col-xs-12" style="padding: 0;margin: 0;">
<!-- Image and text -->

      <div style="position: relative; background:#FDCD07; border-bottom: 1px solid rgb(228, 228, 228); height: 60px; text-align: center;">
   <!--     <a class="rmq-fc06c9fe" style="position: absolute;  left: 25px; height: 60px; line-height: 94px;">
            <img src="../images/imageUTB.png" alt="condor" class="rmq-a448d85" style="width: 130px; margin-top:-35px;">
        </a>-->
        <div style="position: relative; display: inline-block;">
            <div>
                <div style="display: inline-block; margin-top: 10px; height: 40px; padding: 5px; box-sizing: border-box; cursor: pointer;">
                    <span tabindex="0" style="font-weight: normal; display: inline-block; color: #000; font-size: 130%; text-align: center; font-family: Questrial, sans-serif; cursor: pointer; outline: 0px; line-height: 30px;"><strong>CONDOR TEST</strong></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12" ui-view  style="background: #FBF5DA; height: 100%">

    </div>

</div>


